<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR" th:replace="~{base_layout :: base(titulo = 'Verifique seu Email', conteudo = ~{::main})}">
<body>
<main>
    <div class="rounded-lg bg-white p-6 shadow-md text-center">
        <h1 class="text-2xl font-bold mb-4">Verifique o seu Email</h1>
        <p>Se o seu endereço de e-mail estiver na nossa base de dados, receberá um link de recuperação em breve.</p>
        <p class="mt-4"><a th:href="@{/auth/login}" class="font-medium text-blue-600 hover:underline">Voltar para o Login</a></p>
    </div>
</main>
</body>
</html>