<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Agendar Mentoria</title>
    <style>.error { color: red; }</style>
</head>
<body>
    <h1>Agendar Nova Mentoria</h1>
    <form th:action="@{/mentorias}" th:object="${mentoria}" method="post">
        <div>
            <label for="tema">Tema:</label>
            <input type="text" id="tema" th:field="*{tema}" />
            <p class="error" th:if="${#fields.hasErrors('tema')}" th:errors="*{tema}"></p>
        </div>
        <div>
            <label for="dataHora">Data e Hora:</label>
            <input type="datetime-local" id="dataHora" th:field="*{dataHora}" />
            <p class="error" th:if="${#fields.hasErrors('dataHora')}" th:errors="*{dataHora}"></p>
        </div>
        <div>
            <label for="mentor">Mentor:</label>
            <select id="mentor" th:field="*{mentor}">
                <option value="">Selecione um Mentor</option>
                <option th:each="m : ${allMentores}" th:value="${m.id}" th:text="${m.nome}"></option>
            </select>
            <p class="error" th:if="${#fields.hasErrors('mentor')}" th:errors="*{mentor}"></p>
        </div>
        <div>
            <label for="mentorado">Mentorado:</label>
            <select id="mentorado" th:field="*{mentorado}">
                <option value="">Selecione um Mentorado</option>
                <option th:each="mdo : ${allMentorados}" th:value="${mdo.id}" th:text="${mdo.nome}"></option>
            </select>
            <p class="error" th:if="${#fields.hasErrors('mentorado')}" th:errors="*{mentorado}"></p>
        </div>
        <br/>
        <button type="submit">Agendar</button>
    </form>
</body>
</html>